canvas {
    border: 1px solid black;
}

form {
    margin-bottom: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}